<header>
  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="https://placecage.com/c/900/180" alt="Nicolas Cage #1">
      <div class="carousel-caption">
        <h3>Nicolas Cage</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="https://placecage.com/c/901/180" alt="Nicolas Cage #2">
      <div class="carousel-caption">
        <h3>Nicolas Cage</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="https://placecage.com/c/902/180" alt="Nicolas Cage #3">
      <div class="carousel-caption">
        <h3>Nicolas Cage</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="https://placecage.com/c/903/180" alt="Nicolas Cage #4">
      <div class="carousel-caption">
        <h3>Nicolas Cage</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="https://placecage.com/c/904/180" alt="Nicolas Cage #5">
      <div class="carousel-caption">
        <h3>Nicolas Cage</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="https://placecage.com/c/905/180" alt="Nicolas Cage #6">
      <div class="carousel-caption">
        <h3>Nicolas Cage</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="https://placecage.com/c/922/180" alt="Nicolas Cage #7">
      <div class="carousel-caption">
        <h3>Nicolas Cage</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="https://placecage.com/c/932/180" alt="Nicolas Cage #8">
      <div class="carousel-caption">
        <h3>Nicolas Cage</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="https://placecage.com/c/940/180" alt="Nicolas Cage #9">
      <div class="carousel-caption">
        <h3>Nicolas Cage</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="https://placecage.com/c/944/180" alt="Nicolas Cage #10">
      <div class="carousel-caption">
        <h3>Nicolas Cage</h3>
      </div>
    </ng-template>
  </ngb-carousel>
</header>
